<%# the below constructs what this .erb / view / HTML will look like %>
<%# the top line just says that this is a form -- but it also says what to do when this form is submitted---how to be sent (via the method POST) and where (via action /FOOD) %>
<form method="POST" action="/food">
  <p>Your Name: <input type="text" name="name"></p>
  <p>Your Favorite Food: <input type="text" name="favorite_food"></p>
  <input type="submit">
</form>
